header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  background: #012222;
  padding: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #ffd700;
  border-top: none;
}

img {
  width: 3.5rem;
  object-fit: contain;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
  color: #ffd700;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
  text-wrap: balance;
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }
  img {
    width: 4.5rem;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}