/* div { */
  /* display: inline-block; */
  /* border: 1px solid #ffd700;
  border-radius: 3px;
  overflow: hidden; */
/* } */

button {
  display : flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #012222;
  border: none;
  color: #fffcfa;
  font: inherit;
  cursor: pointer;
  width: 100%;
  width: 12rem;
  text-align: right;
  transition: all 0.5s ease-in-out;
}

button:hover,
button:active,
.active {
  background-color: #ff4500;
}

img {
  width: 2rem;
  object-fit: contain;
  border-radius: 50%;
}

span {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}