* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: #111;
  color: #fffaf0;
  height: 100%;
}
