@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=League+Spartan:wght@100..900&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fffaf0;
  height: 100%;
}
